---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?Abuja&X-Api_Key=0uymlUAnBUm8K75xw0uoSw==ehMNV4Fvl19atEBJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 2e3c4b40-34a3-4002-b3c0-306658cca516
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JS7kwGUWPHcFnWA=
    body:
      encoding: UTF-8
      string: '{"error": "Missing API Key."}'
  recorded_at: Mon, 07 Aug 2023 15:23:48 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?Abuja&X-Api-Key=0uymlUAnBUm8K75xw0uoSw==ehMNV4Fvl19atEBJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 8045164c-b317-4d23-aa27-443e4a35e08e
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JS7vCEfbPHcF66Q=
    body:
      encoding: UTF-8
      string: '{"error": "Missing API Key."}'
  recorded_at: Mon, 07 Aug 2023 15:24:54 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?Abuja
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 0uymlUAnBUm8K75xw0uoSw==ehMNV4Fvl19atEBJ
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0d677980-bdea-458a-b719-178d33a6bbd7
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JS7ySGIuvHcFzvg=
    body:
      encoding: UTF-8
      string: '{"error": "Invalid parameters."}'
  recorded_at: Mon, 07 Aug 2023 15:25:15 GMT
[...]
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airqualy?cityAbuja
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 0uymlUAnBUm8K75xw0uoSw==ehMNV4Fvl19atEBJ
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d6ad521a-7e66-4a3e-9a04-82c3cadc4ff0
      X-Amzn-Errortype:
      - MissingAuthenticationTokenException
      X-Amz-Apigw-Id:
      - JS8tmG-pvHcFXAg=
    body:
      encoding: UTF-8
      string: '{"message":"Endpoint not found. Please check your spelling and try
        again."}'
  recorded_at: Mon, 07 Aug 2023 15:31:34 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airqualy?city=Abuja
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 0uymlUAnBUm8K75xw0uoSw==ehMNV4Fvl19atEBJ
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 7f477a94-2cde-4296-8b62-5b8fa0e5f635
      X-Amzn-Errortype:
      - MissingAuthenticationTokenException
      X-Amz-Apigw-Id:
      - JS830GQMvHcFhWQ=
    body:
      encoding: UTF-8
      string: '{"message":"Endpoint not found. Please check your spelling and try
        again."}'
  recorded_at: Mon, 07 Aug 2023 15:32:40 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Abuja
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 0uymlUAnBUm8K75xw0uoSw==ehMNV4Fvl19atEBJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0bd05d6a-af3a-47e5-8115-968f13009371
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JS8-9EaQvHcFY-Q=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 433.92, "aqi": 4}, "NO2": {"concentration":
        2.96, "aqi": 3}, "O3": {"concentration": 29.68, "aqi": 25}, "SO2": {"concentration":
        0.31, "aqi": 0}, "PM2.5": {"concentration": 4.21, "aqi": 13}, "PM10": {"concentration":
        5.17, "aqi": 4}, "overall_aqi": 25}'
  recorded_at: Mon, 07 Aug 2023 15:33:26 GMT
recorded_with: VCR 6.2.0
