---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Abuja
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 0uymlUAnBUm8K75xw0uoSw==ehMNV4Fvl19atEBJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - be2db2dc-effb-4800-81f4-4e55fa7d174a
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JS-MFH4APHcFYPg=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 433.92, "aqi": 4}, "NO2": {"concentration":
        2.96, "aqi": 3}, "O3": {"concentration": 29.68, "aqi": 25}, "SO2": {"concentration":
        0.31, "aqi": 0}, "PM2.5": {"concentration": 4.21, "aqi": 13}, "PM10": {"concentration":
        5.17, "aqi": 4}, "overall_aqi": 25}'
  recorded_at: Mon, 07 Aug 2023 15:41:40 GMT
recorded_with: VCR 6.2.0
